[user]
    name = Cinthya 
    email = cinthyahernandez18@fshamail.org
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current